:root {
    /* Kolory tła i tekstu */
    --col-left-background: #fff;
    --col-right-background: #000;
    --col-left-text-color: #000;
    --col-right-text-color: #fff;
    --primary-color: orange;
}

$background-color: purple;
